In [ ]:
# For loop example

In [1]:
# house list of lists
house = [["hallway", 11.25], 
         ["kitchen", 18.0], 
         ["living room", 20.0], 
         ["bedroom", 10.75], 
         ["bathroom", 9.50]]
         
# Build a for loop from scratch
for room,area in house :
    print('the ' + str(room) + ' is ' + str(area) + ' sqm')    #Prints out 'room' is 'area' sqm

the hallway is 11.25 sqm
the kitchen is 18.0 sqm
the living room is 20.0 sqm
the bedroom is 10.75 sqm
the bathroom is 9.5 sqm

# Loop over Dictionary

In [2]:
# Definition of dictionary
europe = {'spain':'madrid', 'france':'paris', 'germany':'berlin',
          'norway':'oslo', 'italy':'rome', 'poland':'warsaw', 'austria':'vienna' }
          
# Iterate over europe
for key,value in europe.items() :
    print('the capital of ' + key + ' is ' + value)

the capital of spain is madrid
the capital of france is paris
the capital of germany is berlin
the capital of norway is oslo
the capital of italy is rome
the capital of poland is warsaw
the capital of austria is vienna

# Loop over 1D and 2D Numpy arrays

In [2]:
# Import numpy as np
import numpy as np

# We only use 10 indexes of both height and weight from baseball.csv

np_height = np.array([74, 74, 72, 72, 73, 69 ,69, 71, 76, 71])
np_weight = np.array([180, 215, 210, 210, 188, 176, 209, 200, 231, 180])

np_baseball = np.array([np_height, np_weight])       # We can create 2D array from two 1D arrays like that. Or like the following line.

np_base = np.array([[74, 74, 72, 72, 73, 69 ,69, 71, 76, 71],[180, 215, 210, 210, 188, 176, 209, 200, 231, 180]])

# For loop over np_height
for h in np_height :                   # Iterating over 1D array is usual, no need to insert an extra function.
    print(str(h) + ' inches')

# For loop over np_baseball

for v in np.nditer(np_baseball) :      # To iterate over each index in 2D array, we need "np.nditer(my_array)" function.
    print(v)                           # Prints out each value separately.

74 inches
74 inches
72 inches
72 inches
73 inches
69 inches
69 inches
71 inches
76 inches
71 inches
74
74
72
72
73
69
69
71
76
71
180
215
210
210
188
176
209
200
231
180

# Loop over Dataframe

In [ ]:
import pandas as pd
cars = pd.read_csv('../DataCamp/Databases/cars.csv', index_col = 0)  

print(cars)

     cars_per_cap        country  drives_right
US            809  United States          True
AUS           731      Australia         False
JAP           588          Japan         False
IN             18          India         False
RU            200         Russia          True
MOR            70        Morocco          True
EG             45          Egypt          True

- .iterrows() does iterations over rows in DataFrame/Pandas Series. We need that function to pull info from a DataFrame/Pandas Series.

In [13]:
 # Iterate over rows of cars
for lab, row in cars.iterrows() :      #lab for labels and row for rows in cars DataFrame
    print(lab)
    print(row, '\n')                   # '\n' is for a linespace after printing out

US
cars_per_cap              809
country         United States
drives_right             True
Name: US, dtype: object

AUS
cars_per_cap          731
country         Australia
drives_right        False
Name: AUS, dtype: object

JAP
cars_per_cap      588
country         Japan
drives_right    False
Name: JAP, dtype: object

IN
cars_per_cap       18
country         India
drives_right    False
Name: IN, dtype: object

RU
cars_per_cap       200
country         Russia
drives_right      True
Name: RU, dtype: object

MOR
cars_per_cap         70
country         Morocco
drives_right       True
Name: MOR, dtype: object

EG
cars_per_cap       45
country         Egypt
drives_right     True
Name: EG, dtype: object

In [15]:
# Print out the label of countries at each row and cars_per_cap info, using .iterrow()

for lab, row in cars.iterrows() :
    print(lab + ': ' + str(row['cars_per_cap']))

US: 809
AUS: 731
JAP: 588
IN: 18
RU: 200
MOR: 70
EG: 45

- Adding a column to a Pandas Series.

In [16]:
# Code for loop that adds COUNTRY column
for lab, row in cars.iterrows() :
    cars.loc[lab, 'COUNTRY'] = row['country'].upper()

# Print cars
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT

- We can also use one-liner code to see the same effect with .apply()

In [19]:
cars['COUNTRY'] = cars['country'].apply(str.upper)
print(cars)

     cars_per_cap        country  drives_right        COUNTRY
US            809  United States          True  UNITED STATES
AUS           731      Australia         False      AUSTRALIA
JAP           588          Japan         False          JAPAN
IN             18          India         False          INDIA
RU            200         Russia          True         RUSSIA
MOR            70        Morocco          True        MOROCCO
EG             45          Egypt          True          EGYPT